@model IEnumerable<RentCMvc.Models.Customer>
@{
    ViewBag.Title = "List Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Customers</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CostumerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CostumerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            
        </tr>
    }

</table>
